body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3e8ff;
}

/* container geral */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* título (Sistema Acadêmico) */
.status {
  font-size: 26px;
  font-weight: bold;
  color: #7c3aed;
  margin-bottom: -60px; /* aproxima do card */
  text-align: left;
  z-index: 2;
}

/* card */
.card {
  display: flex;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  overflow: hidden;
}

/* imagem lado esquerdo */
.imagem {
  width: 300px;
  object-fit: cover;
}

/* formulário lado direito */
.form {
  padding: 30px;
  text-align: center;
}

/* inputs */
input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 200px;
}

/* botão */
button {
  background: #7c3aed;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background: #5b21b6;
}

/* lista */
p {
  margin-top: 10px;
}